#cache
MobileFaceSwap/models/__pycache__/*
stylegan/__pycache__/*
disrupting-deepfakes/AntiForgery/__pycache__/*
disrupting-deepfakes/stargan/__pycache__/*
*.pyc

#dastaset
disrupting-deepfakes/stargan/data/*
mysource/*

#model checkpoint
disrupting-deepfakes/stargan/stargan_celeba_256/*
MobileFaceSwap/checkpoints.tar
stylegan2-ada-pytorch/pretrained/*
stylegan2-ada-pytorch/weights/*
stylegan/mobilenet.pt
CYBORG/xception/model/*

#results
MobileFaceSwap/results/*
reslt/*
results/*
CYBORG/local_results/*