<!DOCTYPE html>
<html>
<head>
  <title>StyleGAN Generator</title>
</head>
<body>
  <h1>Upload an Image</h1>
  <form action="/stylegan" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Run StyleGAN</button>
  </form>

  {% if result %}
    <h3>결과 이미지</h3>
    <img src="{{ result }}" width="512">
  {% endif %}

  {% if video %}
    <h3>Refinement Video</h3>
    <video controls width="512">
      <source src="{{ video }}" type="video/mp4">
      브라우저가 비디오를 지원하지 않습니다.
    </video>
  {% endif %}

</body>
</html>
